<script lang="ts" setup>
import { ref } from "vue";

const num = ref(0);
const nums = ref<number[]>([]);
function mutiple(num: number) {
  nums.value.splice(0, nums.value.length);
  for (let i = 1; i <= num; i++) {
    nums.value.push(i);
  }
}
</script>

<template>
  <div>
    <v-form
      ><v-text-field
        class="ma-10"
        label="Plase input Number"
        v-model="num"
        :rules="[(v) => !!v || 'Number is not empty!!']"
        :oninput="mutiple(num)"
      ></v-text-field
    ></v-form>
  </div>
  <v-container>
    <v-row>
      <v-col cols="12 " md="1" v-for="item in nums" :key="item">{{
        item
      }}</v-col>
    </v-row>
  </v-container>
</template>
