<script lang="ts" setup>
import { ref, computed } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
const list = ref<{ id: number; name: string; price: number }[]>([]);
const addProduct = (product: { id: number; name: string; price: number }) => {
  list.value.push(product);
};
const sum = computed(() => {
  return list.value.reduce((acc, curr) => acc + curr.price, 0);
});
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-container style="overflow: auto; height: 75vh" fluid
          ><v-row>
            <v-col cols="4" v-for="(item, index) of products" :key="index">
              <v-card align="center">
                <div class="text-h6 ma-2">{{ item.name }}</div>
                <div>{{ item.price }}</div>
                <v-btn class="ma-4" @click="addProduct(item)"
                  >ADD</v-btn
                ></v-card
              ></v-col
            ></v-row
          ></v-container
        >
      </v-col>
      <v-col>
        <v-container style="overflow: auto; height: 75vh" fluid>
          <v-table>
            <thead>
              <tr>
                <th class="text-left">id</th>
                <th class="text-left">name</th>
                <th class="text-left">price</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in list" :key="item.name" class="text-subtitle-2">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
              </tr>
              <tr>
                <td
                  v-if="list.length === 0"
                  class="text-subtitle-2"
                  style="text-align: center"
                  colspan="3"
                >
                  NO Data
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-container>
        <div class="text-h2 font-weight-regular ml-10">Sum: {{ sum }}</div>
      </v-col>
    </v-row>
  </v-container>
</template>
