<script lang="ts" setup>
import { ref } from "vue";

const emotion = ref("");
const image = ref("");
const color1 = ref("");
const color2 = ref("");
const color3 = ref("");
const color4 = ref("");
const color5 = ref("");
const color6 = ref("");
const emotion1 = () => {
  image.value = "angry.png";
  emotion.value = "ANGRY";
  color1.value = color1.value === "#FFEA20" ? "white" : "#FFEA20";
  color2.value = "while";
  color3.value = "while";
  color4.value = "while";
  color5.value = "while";
  color6.value = "while";
};
const emotion2 = () => {
  image.value = "cute.png";
  emotion.value = "CUTE";
  color2.value = color2.value === "#FFEA20" ? "white" : "#FFEA20";
  color1.value = "while";
  color3.value = "while";
  color4.value = "while";
  color5.value = "while";
  color6.value = "while";
};
const emotion3 = () => {
  image.value = "excited.png";
  emotion.value = "EXCITED";
  color3.value = color3.value === "#FFEA20" ? "white" : "#FFEA20";
  color1.value = "while";
  color2.value = "while";
  color4.value = "while";
  color5.value = "while";
  color6.value = "while";
};
const emotion4 = () => {
  image.value = "pain.png";
  emotion.value = "PAIN ";
  color4.value = color4.value === "#FFEA20" ? "white" : "#FFEA20";
  color2.value = "while";
  color3.value = "while";
  color1.value = "while";
  color5.value = "while";
  color6.value = "while";
};
const emotion5 = () => {
  image.value = "shocked.png";
  emotion.value = "SHOCKED";
  color5.value = color5.value === "#FFEA20" ? "white" : "#FFEA20";
  color2.value = "while";
  color3.value = "while";
  color4.value = "while";
  color1.value = "while";
  color6.value = "while";
};
const emotion6 = () => {
  image.value = "smile.png";
  emotion.value = "SMILE";
  color6.value = color6.value === "#FFEA20" ? "white" : "#FFEA20";
  color2.value = "while";
  color3.value = "while";
  color4.value = "while";
  color1.value = "while";
  color5.value = "while";
};
</script>
<template>
  <v-container>
    <v-row class="mt-16">
      <v-col :cols="6">
        <v-img :src="image" width="570px"> </v-img>
      </v-col>

      <v-col>
        <div class="text-center fs">{{ emotion }}</div>

        <v-btn width="100%" class="mt-4" :color="color1" @click="emotion1()">
          ANGRY
        </v-btn>
        <v-btn width="100%" class="mt-4" :color="color2" @click="emotion2()">
          CUTE
        </v-btn>
        <v-btn width="100%" class="mt-4" :color="color3" @click="emotion3()">
          EXCITED
        </v-btn>
        <v-btn width="100%" class="mt-4" :color="color4" @click="emotion4()">
          PAIN
        </v-btn>
        <v-btn width="100%" class="mt-4" :color="color5" @click="emotion5()">
          SHOCKED
        </v-btn>
        <v-btn width="100%" class="mt-4" :color="color6" @click="emotion6()">
          SMILE
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.fs {
  font-size: 50px;
}
</style>
