<script setup lang="ts">
import { ref } from "vue";
const props = withDefaults(
  defineProps<{
    name: string;
    rating: number;
    index: number;
  }>(),
  {
    rating: 10,
  }
);

const emits = defineEmits<{
  (e: "change", index: number, rating: number): void;
}>();
const count = ref(props.rating);
function inc() {
  count.value++;
  emits("change", props.index, count.value);
}
function dec() {
  count.value--;
  emits("change", props.index, count.value);
}
</script>

<template>
  <div class="text-h6 mb-1">{{ props.name }}</div>
  <div class="text-caption">Score: {{ count }}</div>

  <v-btn @click="dec()"> - </v-btn>
  <v-btn @click="inc()"> + </v-btn>
</template>
