<script lang="ts" setup>
import { ref } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
</script>
<template>
  <div class="container">
    <v-container>
      <v-row>
        <v-card
          v-card
          width="auto"
          height="400px"
          color="rgb(199, 188, 161)"
          theme="dark"
          class="overflow-auto"
        >
          <v-col v-for="(item, index) of products" :key="index" cols="6">
            <v-card>
              <v-card-actions>
                <v-btn rounded="lg" size="lang" class="ml-2"
                  >{{ item.name }}{{ item.price }} บาท</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-col>
        </v-card>
      </v-row>
    </v-container>
  </div>
</template>
<style>
.container {
  position: relative;
  height: 100vh;
}
</style>
