<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const useCounter = useCounterStore();
</script>
<template>
  <div>Second Components</div>
  <div>{{ useCounter.count * 2 }}</div>
  <v-btn @click="useCounter.decrease">DECREASE</v-btn>
</template>
